@import "./constants/scss/includes.scss";

header {
    color: $color-brand;
    background-color: $color-bg;
    background-image: url('./img/header.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 40vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    @include siteGutter;
    padding-top: $unit-large;
    padding-bottom: $unit-large;
}

div {
    @include width-limit;
    width: 100%;
}

@mixin headers {
    text-transform: uppercase;
    @include Druk-Heavy-Cy-Gr-Web;
}

h1 {
    @include headers;
    color: white;
    font-size: 9vw;
    letter-spacing: 5px;
    font-weight: 800;
    margin: 0;
}

h2 {
    @include headers;
    color: $color-brand;
    font-size: 7vw;
    font-weight: 800;
    letter-spacing: 5px;
    margin: $unit-small 0 0 0;
}