@mixin btn {
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    padding: $unit-small $unit-large;
    background-image: none;
    border: none;
    border-radius: $border-radius;
    transition: background 200ms ease-in-out;
    border: 2px solid white;
    background-color: transparent;
    font-size: 1rem;

    // @include media-query(small) {
    //     width: auto;
    // }
}

@mixin btn-primary {
    @include btn;
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;
    text-decoration: none;

    &:hover {
        background-color: darken($color-primary, 5%);
    }
}

@mixin btn-secondary {
    @include btn;
    color: white;
}

@mixin tag {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-size: 0.85rem;
    cursor: pointer;
    margin: 0;
    padding: $unit-small $unit-medium;
    background-image: none;
    border: none;
    border-radius: $border-radius;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

@mixin text-gradient {
    color: $color-light;
    background: linear-gradient(to right, $color-light 0%, $color-primary 120%, $color-primary 100%);
    background-size: 120% 120%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@mixin svg-logo {
    height: 16px;
    margin: 0;
    padding: 0;
}

@mixin hide-mobile {
    display: none;

    @include media-query(large) {
        display: inline-block;
    }
}

@mixin svg-icon {
    width: $unit-large;
    max-height: $unit-large;
    fill: $color-text;
}