$tiny:                400px;
$small:               575px;
$medium:              768px;
$large:               1023px;
$xlarge:              1399px;
$siteWidthLimit:      1200px;

$baseline-grid:       8px;

$unit-tiny:           4px;
$unit-small:          8px;
$unit-medium:         16px;
$unit-large:          24px;
$unit-xlarge:         32px;
$unit-xxlarge:        40px;

$navWidth:            56px;
$navExpanded:         140px;
$headerHeight:        72px;

$border-radius:       4px;

$color-brand:         #d70022;
$color-primary:       #d70022;
$color-secondary:     #05d6ae;
$color-white:         #f7f7f7;
$color-bg:            #212121;
$color-border:        #ededed;
$color-content:       #e4e4e4;
$color-content2:      #d0d0d0;
$color-text:          #161616;
$color-dark:          #999999;
$color-black:         #02191f;

$color-highlight:     #ffd81c;
$color-danger:        #e13555;
$color-info:          #28b4e5;