@import './constants/scss/includes.scss';

/* Please use BEM https://getbem.com/ */

/* Block */
.octagon {
  --text-color: #{$color-white};
  --bg-color: #{$color-black};
  --size: 100px;

  position: relative;
  width: var(--size);
  height: var(--size);
  position: relative;
  color: var(--text-color);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;

  /* Element  */
  &__box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: var(--bg-color);
      content: '';
    }

    &__text {
      @include Druk-Medium-Cy-Gr-Web;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      color: var(--text-color);
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.2em;
    }
  }
  /* Modifier  */
  &--clickable {
    cursor: pointer;
  }
  &--disabled {
    cursor: unset;
  }
}
