@import "./constants/scss/includes.scss";

nav {
    background: $color-bg;
    color: $color-brand;
    padding: 100px;
    text-align: center;
    transition: 100ms ease-in background;
    @include Druk-Medium-Cy-Gr-Web;

}

ol {
    display: flex;
    justify-content: space-between;
}

p {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: 100;
}