@import "./constants/scss/includes.scss";

header {
    background-image: url('./img/fork3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 75%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include siteGutter;
    padding-bottom: $unit-large;

    div {
        @include width-limit;
        color: $color-white;
    }

    span {
        display: flex;

        h1 {
            background: transparentize($color-white, 0.2);
            margin-top: 0;
            color: $color-text;
            padding: $unit-large $unit-large 0;

            @include Druk-Bold-Cy-Gr-Web;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 3.5em;
            white-space: nowrap;
    
            small {
                display: block;
                margin-left: $unit-xlarge;
                color: lighten($color-brand, 10);
            }
        }

        h4 {
            margin: $unit-xlarge*2 0 (-$unit-medium) $unit-xlarge;
            padding: $unit-large;
            background: rgba(0,0,0,0.6);
            position: relative;

            small {
                display: block;
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                text-transform: none;
                letter-spacing: 0;
                line-height: 1.4;
                margin-top: $unit-medium;
                font-weight: 100;
            }
        }
    }

    h4 {
        @include Druk-Bold-Cy-Gr-Web;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 2em;
        margin: 0;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $unit-medium;
        list-style-type: none;

        div {
            padding: $unit-medium;
        }

        .zones {
            background: $color-brand;
        }

        .play {
            background: rgba(0,0,0,0.3);

            ul {
                margin: 0;
                padding: 0;
                list-style-position: inside;;
            }
        }

        .early {
            position: relative;

            h5 {
                margin: 0;
            }
            
            span {
                background: white;
                border: 4px solid $color-brand;
                margin: $unit-xlarge;
                padding: $unit-xlarge;
                color: $color-text;
                flex-direction: column;
                align-items: center;
                z-index: 2;
                position: relative;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                background: $color-brand;
                display: block;
                width: 100px;
                height: 100px;
                clip-path: polygon(10% 0,100% 0%,100% 4%,14% 4%,14% 90%,21% 90%,12% 100%,4% 90%,10% 90%);
                clip-path: polygon(10% 0, 100% 0%, 100% 11%, 20% 11%, 19% 77%, 29% 77%, 16% 100%, 0 78%, 9% 78%);
            }
        }
    }
}



