@import "./constants/scss/includes.scss";

div {
    
    transition: 100ms ease-in background;

    @include siteGutter;

    @include media-query(small) {
        padding: 0 20px;
    }
}

.intro {
    @include width-limit;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: $unit-medium;
    margin-top: $unit-xlarge;
}

figure {
    width: 100%;
    height: auto;
    background-image: url('./img/WhatsItAbout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    margin-bottom: -100px;

}

.quote {
    background: $color-brand;
    color: white;
    @include siteGutter;
    display: grid;
    grid-template-columns: 1fr 2fr;

    div {
        @include width-limit;
        grid-column-start: 2;
        margin: $unit-xlarge auto 100px;
    }
    
    h4 {
        max-width: 800px;
        border-color: white;
        margin-bottom: $unit-xlarge;
        line-height: 1.4;
    }
}